010_JS/026-create-project/node_modules/package/LICENSE
010_JS/026-create-project/node_modules/package/README-Deprecated.md
010_JS/026-create-project/node_modules/package/readline-sync/encrypt.js
010_JS/026-create-project/node_modules/package/README.md
010_JS/026-create-project/node_modules/package/readline-sync/read.cs.js
010_JS/026-create-project/node_modules/package/readline-sync/read.ps1
010_JS/026-create-project/node_modules/package/readline-sync/read.sh
010_JS/026-create-project/node_modules/package/readline-sync/readline-sync.js
